//  colors
$dark-gray-color: #545454;
$dark-color: #121212;
$light-color: #fff;
$light-gray-color: #fafafa;
$accent-bg-color: #d3e9f8;
$accent-color: #68b6ee;

//  fonts
$oswald : 'Oswald', sans-serif;
// size
$text: 14px;
$h1: 35px;
$h2: 20px;

$vertical-padding: 50px;
$header-height: 80px;
$header-height-mobile: 60px;